<h1> Nilai Statis dan Dinamis </h1>

<h2> input </h2>

In [13]:
first_name = input ("insert Your name ")
middle_name = input ("insert Your Middle name ")
last_name = input ("insert Your Last name ")

print("hello", first_name, middle_name, last_name, "!!")

insert Your name Wilian
insert Your Middle name Hasan
insert Your Last name Irawan
hello Wilian Hasan Irawan !!

<h2> luas dan keliling Persegi </h2>

In [12]:
#luas => p*l
#keliling => 2 * (p+l)

panjang =input ("masukan Panjang ")
lebar =input ("masukan Lebar ")
Luas =int (panjang) * int(lebar)
keliling = 2 * (int (panjang) + int (lebar))

print("luas =", Luas)
print("keliling =", keliling)

masukan Panjang 5
masukan Lebar 4
luas = 20
keliling = 18

<h2> Output Separator</h2>

In [23]:
print("5", "juli", "2022", sep='_')
print("5", "juli", "2022", sep='-')
print("5", "juli", "2022", sep= '\n')

5_juli_2022
5-juli-2022
5
juli
2022

In [26]:
bulan1= "Januari"
bulan2= "February"
bulan3= "Maret"

print ("nama-nama bulan {0}, {1}".format(bulan1,bulan2))
print ("nama-nama bulan {1}, {0}".format(bulan1,bulan2))
print ("nama-nama bulan {0},{1},{2}".format(bulan1,bulan2,bulan3))

nama-nama bulan Januari, February
nama-nama bulan February, Januari
nama-nama bulan Januari,February,Maret

In [36]:
kampus ="universitas Nusa Putra"
print(kampus[0])#u
print (kampus[-5])#p

print (kampus[0:11])
print (kampus[12:])
print (kampus[-5:])
print (kampus[::-1])

u
P
universitas
Nusa Putra
Putra
artuP asuN satisrevinu

<h2> Interpolasi Mengunakan F-string</h2>

In [47]:
p = 5
l = 22

print(f'luas persegi = {l*p}')
print(f'keliling persegi = {2 *(p+1)}')

luas persegi = 110
keliling persegi = 12

In [70]:
nama_siswa ="andri,budi,jamal"
nama_siswa = nama_siswa.upper()
print (nama_siswa.split(','))
print ('@'.join(nama_siswa.split(',')))

['ANDRI', 'BUDI', 'JAMAL']
ANDRI@BUDI@JAMAL

In [72]:
nama = input("masukan nama :")
tgl_lahir=input("masukan tanggal: ")
tgls = tgl_lahir.split('/')
namas =nama.split()

print (f"nama anda = {nama}")
print (f"tanggal lahir ={tgls}")
print (f"tanggal = {tgl_lahir[0]}")
print (f"bulan = {tgl_lahir[1]}")
print (f"tahun = {tgl_lahir[2]}")
print (f"inisial = {namas[0][0]}{namas[1][0]}{namas[3][0]}")

masukan nama :wiliana irawan
masukan tanggal: 5 juli 2003
nama anda = wiliana irawan
tanggal lahir =['5 juli 2003']
tanggal = 5
bulan =
tahun = j

IndexError: list index out of range